
KERNEL=="sdb1", SYMLINK+="videowall-src", ACTION=="add", RUN+="/opt/videowall/load-videowall.sh"
KERNEL=="sdb1", ACTION=="remove", RUN+="/opt/videowall/load-videowall.sh"
